.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sets {
  color: white;
  font-size: 16px;
  border: none;
  background-color: olivedrab;
  height: 50px;
  widows: 100px;
  margin: 5px;
  padding: 0 20px;
}
