.App {
  display: flex;
  flex: 1;
  flex-direction: row;
}

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');

.App-header {
  flex: 0.3;
}

.App-main {
  flex: 0.7;
}

